@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FEFEFE;
}
.carousel-container {
  padding: 1rem;
  background-color: #000; /* Example background color */
}

.image-wrapper {
  position: relative;
  width: 100%
}

.pagination-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.active-class {
  border: 2px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.close {
  position: fixed;
  z-index: 1000;
  /* padding-right: 40px; */
}
.image {
  /* background-color: #000000; */
  background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1719340307/Rectangle_42_jjgwls.svg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: #fff;
}
.image2 {
  /* background-color: #000000; */
  background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1719340875/Rectangle_57_isduz8.svg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  /* color: #fff; */
}
.image3 {
  /* background-color: #000000; */
  background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1719676887/homechair_spessy.svg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  /* color: #fff; */
}
.image4 {
  /* background-color: #000000; */
  background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1719676178/mobile_image_1_1_g4sd9s.png);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  /* color: #fff; */
}
.content {
  display: grid;
}
.explore {
  background: linear-gradient(189.15deg, #140DB0 21%, rgba(0, 0, 0, 0.7) 53.72%);

}